@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}

body {
  @apply bg-light-bg dark:bg-dark-bg text-light-text dark:text-dark-text;
}

.card {
  @apply bg-light-card dark:bg-dark-card;
}

header,
main {
  @apply px-4 sm:px-[4%] md:px-[6%];
}

input {
  @apply bg-transparent;
}

input:focus {
  outline: none;
}

.details {
  @apply text-light-input;
}

.details > * > * {
  @apply my-2;
}

.details .title {
  @apply font-semibold mr-2 text-light-text dark:text-dark-text;
}

.hidden {
  display: none;
}

.loading-bg {
  @apply h-1 fixed left-0 right-0 top-0 overflow-hidden;
}

.loading-indicator {
  @apply relative h-full w-full;
}

.loading-indicator:before {
  content: "";
  animation: first 1.5s infinite ease-out;
  @apply bg-blue-500 h-full absolute;
}

.loading-indicator:after {
  content: "";
  animation: second 1.5s infinite ease-in;
  @apply bg-blue-500 h-full absolute;
}

@keyframes first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}
